{% extends 'base.html' %}

{% block content %}
<h3>
    THE DEVS
</h3>

<div class="container rounded border border-secondary text-center bg-light">
    <div class="row row-cols-1 row-cols-md-3 mt-3">
        <!-- DEV 1 -->
        <div class="col mb-4">
          <div class="card">
            <img src="https://scontent.fcgy1-1.fna.fbcdn.net/v/t1.0-9/s960x960/30726999_2198428740183506_6856215856934813696_o.jpg?_nc_cat=111&_nc_sid=dd7718&_nc_ohc=NDcoqlqVXFkAX_6X2eJ&_nc_ht=scontent.fcgy1-1.fna&_nc_tp=7&oh=046a436cb57ab7c562d23e365042505c&oe=5EE6A332" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Christer John Macalua</h5>
              <p class="card-text">This Project is sponsored by: <br> <strong>Kopiko 78</strong><br><strong>Visual Studio Code Live Share</strong><br><strong>Google Meets</strong><br><strong>Stack Overflow</strong><br><strong>Github</strong><br><strong>pythonanywhere</strong></p>
            </div>
          </div>
        </div>
        <!-- DEV 2 -->
        <div class="col mb-4">
          <div class="card">
            <img src="https://scontent.fcgy1-1.fna.fbcdn.net/v/t31.0-8/s960x960/13558985_993030950746154_5360325824442739375_o.jpg?_nc_cat=107&_nc_sid=7aed08&_nc_eui2=AeEt0VwdzpV4yKJp98rD7D0Et2-vFahrCuu3b68VqGsK67r8eIgi6BHUxEbcmBNvzGxlV7PlQljqwtEV2hGTBL5R&_nc_oc=AQmkVMULDSnEa9EAvrODNAND3Ob-1Vw63Mpg07GwN3SnSzm6DIny13Xh8pDckJ-HXIk&_nc_ht=scontent.fcgy1-1.fna&_nc_tp=7&oh=b9e654d48adc14434d44f9f3256e00e2&oe=5EE49F17" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kier Venz Paladin</h5>
              <p class="card-text"><br>Ako pala ito, Mukhang Ninja. <br>
                <br>Yung nasa <strong>LEFT</strong>side ko, nagbebenta ng KOPIKO. <br>
                <br>yung nasa <strong>RIGHT</strong> side ko Epekto ng KOPIKO. <br><br>Drink responsibly Choose Wisely</p>
            </div> 
          </div>
        </div>
        <!-- DEV 3 -->
        <div class="col mb-4">
          <div class="card">
            <img src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/47443219_2033010253455037_8972292294589808640_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=KljFahE7s7MAX_5esna&_nc_ht=scontent.fmnl4-6.fna&oh=f62ee03d566415a188868e74440f40a6&oe=5EE7342F" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kyle Stephen Tancio</h5>
              <p class="card-text">Sa coding may batas. Bawal copy-paste oh, bawal copy-paste. Pero kapag nag
                  compile ka, tapos may error. Nag compile ka ulet, ayy,wala na palang error.
              </p>
            </div>
          </div>
        </div>
        <!-- DEV 4 -->
        <div class="col mb-4">
          <div class="card">
            <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.0-9/p720x720/60820032_2382620468463576_8058414603660427264_o.jpg?_nc_cat=101&_nc_sid=7aed08&_nc_ohc=XW6KWFUkoKUAX-FbkkB&_nc_ht=scontent.fmnl7-1.fna&_nc_tp=6&oh=bdbed8f0c955b938bb798e734037f9db&oe=5EE4D050" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rence Lennard Galaraga</h5>
              <p class="card-text"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click Here For more Info.</a></p>
            </div>
          </div>
        
      </div>
      <!-- DEV 5 -->
      <div class="col mb-4">
        <div class="card">
          <img src="https://scontent.fcgy1-1.fna.fbcdn.net/v/t1.0-9/39162692_1909348422516277_1959382583154311168_n.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_eui2=AeEgSd5D9eM60DpIIiPbasgscvlrESKCqe9y-WsRIoKp711vF5VMXWadatBmbVMWpQh4-UtGq8OUTnYHUbe7QWXu&_nc_oc=AQm6YvARgCE2MGXTf1IrGHkdbfWtcHRHaSVP75GsqznTUf70sW8YlB92-DeXBn0WEsE&_nc_ht=scontent.fcgy1-1.fna&oh=d0b6b846bca6bcfee056803f32940c1d&oe=5EE68188" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Renzel James Barot</h5>
            <p class="card-text">Lagot kang bata sa kin.</p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock%}


<!--IM HERE KIERBEAR-->